<div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="row row-cols-10">
        <div class="col">
            <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">{{job['title']}}</h4>
            <b>Location:</b> {{job['location']}}<br>
            {% if job['Salary'] == '' %}
                <b>Salary:</b> Not Available
            {% else %}
                <b>Salary:</b> {{job['Salary']}}
            {% endif %}
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary">Apply</button>
        </div>
    </div>
</div>
